body {
  background-image: url(../imgaes/background.jpg);
  direction: rtl;
  background-size: cover;
}
#backgroundDiv {
  background-color: rgba(255, 255, 255, 0.479);
}

#dakker {
  color: gold;
  text-shadow: 40, 40, 5, gold;
}
#moon {
  width: 50%;
  height: 100%;
}
#sun {
  width: 50%;
  height: 100%;
}

.jumbotron {
  background-color: rgba(128, 128, 128, 0.045);
}
#nightText {
  text-align: center;
  font-size: xx-large;
  color: whitesmoke;
  transition: 0.5s;
}

#moonPic:hover ~ #nightText {
  font-size: 45px;
  color: rgb(5, 5, 21);
}
#dayText {
  text-align: center;
  font-size: xx-large;
  color: whitesmoke;
  transition: 0.5s;
}

#sunPic:hover ~ #dayText {
  font-size: 45px;
  color: wheat;
}
#blackBackground {
  color: rgba(0, 0, 0, 0.664);
  width: 75%;
  text-align: center;
  margin: auto;
  height: 50%;
}
#dayDuaa {
  font-size: xx-large;
}
